*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: turquoise;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: turquoise;
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

section {
    padding: 10% 10%;
}

.main-home {
    width: 100%;
    height: 80vh;
    margin: 60px 0 0 0;
    background-image: url(images/rtx40701.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: (1, 1fr);
    align-items: center;

}

.main-text h5 {
    color: turquoise;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1 {
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0px 10px;
}

.main-text p {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover {
    background-color: #000;
    color: #fff;
}

.main-btn i {
    vertical-align: middle;
}

.down-arrow {
    position: absolute;
    top: 95%;
    right: 11%;
}

.down i {
    font-size: 30px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover {
    background-color: black;
    color: white;
    transition: all .42s ease;
}

header.sticky {
    background: rgb(255, 255, 255);
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

header {
    background: rgb(255, 255, 255);
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

#overlay {
    width: 100%;
    height: 30em;
    position: relative;
    clear: left;
}

/* Trending Section CSS */
.center-text h2 {
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 35px;
}

.center-text span {
    color: turquoise;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row {
    position: relative;
    transition: all .40s;
}

.row img {
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover {
    transform: scale(0.9);
}

.product-text h5 {
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: turquoise;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover {
    color: red;
}

.rating i {
    color: turquoise;
    font-size: 16px;
}

.price h4 {
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p {
    font-size: 14px;
    font-weight: 600;
}

.end-text {
    background-color:#edfff1;
    text-align: center;
    padding: 20px;
}

.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
}

html body {
 padding-top: 65px;
}

/* Shopping Cart CSS */

#shopping-cart {
    margin: 80px 100px 0 100px;
    padding: 20px;
}

#cart-container {
    overflow-x: auto;
    margin: 0 100px 0 100px;
    padding: 0px;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead td{
    background: turquoise;
    color: #fff;
    border: none;
    padding: 6px 0;
}

#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: #8d8c89;
}

#cart-bottom{
    overflow-x: auto;
    margin: 0 200px 0 200px;
    padding: 20px;
    overflow: hidden;
}

#cart-bottom .coupon{
    padding: 20px;
    float: left;
}

#cart-bottom .total{
    padding: 20px;
    overflow: hidden;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div {
    border: 1px solid #b6b3b3;
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    background: turquoise;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input {
    padding: 0 12px;
}

#cart-bottom .coupon input {
    height: 44px;
}

#cart-bottom .coupon input,
#cart-bottom .coupon button {
    margin: 0 0 20px 12px;
}

#cart-bottom .total div>div{
    padding: 0 12px;
}

#cart-bottom .total h6 {
    color: #2a2a2a;
}

.second-hr{
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

#cart-bottom .total div>button{
    margin: 0 0 20px 12px;
    display: flex;
    justify-content: flex-end;
}

/* Products CSS */

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

.floating img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

/* Signup Modal CSS */ 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  /* Responsive CSS */

  @media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
  }
  
  @media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
  }

  @media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
  }